<app-side-bar>
	
</app-side-bar>

<div class="container-fluid" style="padding: 16px;">
	<form>
		<div class="mb-3 row">
			<label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
			<div class="col-xs-3 col-sm-auto">
				<input id="table-filtering-search" class="form-control" type="text" [formControl]="search" />
			</div>
		</div>
	</form>
	<table class="table table-striped record-table" style="border: 1px solid #f0f0f0;">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Name</th>
				<th scope="col">Country</th>
				<th scope="col">Physics</th>
				<th scope="col">Chemistry</th>
				<th scope="col">Maths</th>
				<th scope="col">Computer</th>
			</tr>
		</thead>
		<tbody>
			@for (student of students; track student.name; let i=$index) {
				<tr>
					<td scope="row">{{i+1}}</td>
					<td scope="row"><ngb-highlight [result]="student.name" [term]="search.value" /></td>
					<td scope="row"><ngb-highlight [result]="student.Country" [term]="search.value" /></td>
					<td scope="row"><ngb-highlight [result]="student.Physics" [term]="search.value" /></td>
					<td scope="row"><ngb-highlight [result]="student.Chemistry" [term]="search.value" /></td>
					<td scope="row"><ngb-highlight [result]="student.Maths" [term]="search.value" /></td>
					<td scope="row"><ngb-highlight [result]="student.Computer" [term]="search.value" /></td>
				</tr>
			}
			@empty {
				<tr>
					<p>No records to show</p>
				</tr>
			}
		</tbody>
	</table>
</div>

